# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
.env

# Django
db.sqlite3
staticfiles/
media/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Node/Frontend
node_modules/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# Cursor
.cursor/history/**
